<article class="box aree-intervento" data-type="sprite" data-offsetY="100" data-speed="-2">
    <h1>Ambiti di intervento</h1>
    <p>
        L'équipe di HumanaMENTE offre percorsi di supporto psicologico, psicoterapeutico e psicoeducativo sia
        individualizzati che di gruppo che mirano ad orientare e a sostenere il bambino, il genitore o la coppia in un
        particolare momento della vita.
    </p>
</article>