<article class="box chi-siamo" data-type="sprite" data-offsetY="100" data-speed="5">
    <h1>Chi Siamo</h1>

    <p>
        Il gruppo è costituito da un'équipe multidisciplinare che integra le diverse prospettive ed esperienze
        professionali di natura psicologica, psicoterapeutica, educativa e legale al fine di garantire una modalità
        di gestione e presa in carico della famiglia il più possibile globale e funzionale.</p>
</article>