<article class="box contatti" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Contatti</h1>
    <p>
        La sede del gruppo HumanaMENTE ha indirizzo:
        Vicolo degli Orti 2 - 21013 Gallarate VA
    </p>
    <p>
        Per contattare il gruppo potete scrivere a <a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a>
    </p>
</article>