<article class="box contatti" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Contatti</h1>
    <p>
        La nostra sede: Vicolo degli Orti 2 - 21013 Gallarate VA
    </p>
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=vicolo+degli+orti+2,+gallarate&amp;sll=45.66052,8.792843&amp;sspn=0.060708,0.136299&amp;ie=UTF8&amp;hq=&amp;hnear=Vicolo+degli+Orti,+2,+Gallarate,+Varese,+Lombardia,+Italia&amp;ll=45.660447,8.790116&amp;spn=0.001897,0.004259&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><!--a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=vicolo+degli+orti+2,+gallarate&amp;sll=45.66052,8.792843&amp;sspn=0.060708,0.136299&amp;ie=UTF8&amp;hq=&amp;hnear=Vicolo+degli+Orti,+2,+Gallarate,+Varese,+Lombardia,+Italia&amp;ll=45.660447,8.790116&amp;spn=0.001897,0.004259&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a--></small>
    <p>
        Per contattare il gruppo potete scrivere a <a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a>
    </p>
</article>