<header>
    <img class='logo' src="<%= image_path('tree_logo.png') -%>" alt="HumanaMENTE">
    <h1>HumanaMENTE</h1>
    <nav class='pull-right'>
        <ul>
            <li><a href="#emotional">home</a></li>
            <li><a href="#mission">mission</a></li>
            <li><a href="#projects">genitori</a></li>
            <li><a href="#schools">scuole</a></li>
            <li><a href="#learning">formazione</a></li>
            <li><a href="#contacts">contatti</a></li>
            <li><a href="#team">team</a></li>
        </ul>
    </nav>
</header>