<section id="mission" class="box mission" data-speed="-15" data-type="background">
    <h1>Mission</h1>

    <p>La Mission del gruppo è creare una <em>cultura dell'ascolto di Sé e dell'Altro</em> e promuovere una cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al riconoscimento e
        all'accoglimento delle emozioni proprie e altrui.</p>

    <p>HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al
        fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i
        momenti di difficoltà</p>
</section>