<article class="box progetti-two" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Progetti - La genitorialità  in crisi</h1>
    <dl>
        <dt>Aliante</dt>
        <dd>percorso informativo e formativo per genitori che desiderano affrontare la separazione nel rispetto
            reciproco e dei propri figli.</dd>
        <dt>La scatola delle parole</dt>
        <dd>gruppi di parola per bambini  e ragazzi i cui genitori sono separati o divorziati.</dd>
        <dt>L'orecchio di Dioniso</dt>
        <dd>gruppi di parola per genitori separati o divorziati.</dd>
        <dt>Il Ponte</dt>
        <dd>il ruolo dei nonni di fronte alla separazione/divorzio dei propri figli.</dd>
    </dl>
</article>