<article class="box progetti-one" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Progetti - La genitorialità  nascente</h1>
    <dl>
        <dt>Namasté</dt>
        <dd>spazio aperto di condivisione, confronto e supporto per le neo-mamme.</dd>
        <dt>Gemme</dt>
        <dd>il bambino dal primo anno di vita ai 18 mesi. Incontri di gruppo per genitori.</dd>

        <dt>Impronte</dt>
        <dd>il bambino dai 18 ai 36 mesi. Incontri di gruppo per genitori.</dd>
        <dt>Prisma</dt>
        <dd>il ruolo dei nonni nel supporto a figli neo-genitori. Incontri di gruppo per i nonni.</dd>
    </dl>
</article>