<section id="welcome" data-speed="5" data-type="background">
    <article class="box welcome" data-type="sprite">
        <h1>HumanaMENTE</h1>

        <p>servizi di psicologia clinica rivolti al benessere della famiglia</p>
    </article>
    <article class="box welcome beta" data-type="sprite" data-speed="-30">
        <p>HumanaMENTE è in beta privata.</p>

        <p>
            <small>Lascia la tua email per avere informazioni.</small>
        </p>
        <form action="#">
            <fieldset>
                <input type="email" placeholder="email">
                <button class='btn btn-warning' type="submit">Invia</button>
            </fieldset>
        </form>
    </article>
</section>
