<section id="welcome" data-speed="5" data-type="background">
    <article class="box welcome" data-type="sprite">
        <h1>HumanaMENTE</h1>

        <p>servizi di psicologia clinica rivolti al benessere della famiglia</p>
    </article>
    <article class="box welcome beta" data-type="sprite" data-speed="-30">
        <p>HumanaMENTE è in beta privata.</p>

            <small>Lascia la tua email per avere informazioni sui nostri gruppi di parola.</small>
        <p>
            <a class='btn btn-warning' href="mailto:gruppo@humanamente.it?subject=Voglio saperne di più!">Invia mail di registrazione</a>
        </p>

        <!--<form action="#" class="form-inline">-->
            <!--<fieldset>-->
                <!--<input type="email" placeholder="email">-->
            <!--</fieldset>-->
        <!--</form>-->
    </article>
</section>
