<section id="welcome" data-speed="5" data-type="background">
    <article class="box welcome" data-type="sprite" >
        <h1>HumanaMENTE</h1>

        <p>servizi di psicologia clinica rivolti al benessere della famiglia</p>
    </article>
</section>
