<div class="container">
    <div class="row">
        <div class="offset6 span6">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#">chi siamo</a>
                </li>
                <li><a href="#">mission</a></li>
                <li><a href="#">ambiti di intervento</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">progetti
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                        <li class='fixed'>La genitorialità nascente</li>
                        <li><a tabindex="-1" href="#">Aliante</a></li>
                        <li><a tabindex="-1" href="#">La scatola delle parole</a></li>
                        <li><a tabindex="-1" href="#">L'orecchio di Dionisio</a></li>
                        <li class="divider"></li>
                        <li class='fixed'>La genitorialità in crisi</li>
                        <li><a tabindex="-1" href="#">Namaste</a></li>
                        <li><a tabindex="-1" href="#">Prisma</a></li>
                        <li><a tabindex="-1" href="#">Gemme</a></li>
                        <li><a tabindex="-1" href="#">Impronte</a></li>

                        <!-- <li class="dropdown-submenu pull-left">
                            <a tabindex="-1" href="#">La genitorialità nascente</a>
                            <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Aliante</a></li>
                                  <li><a tabindex="-1" href="#">La scatola delle parole</a></li>
                                  <li><a tabindex="-1" href="#">L'orecchio di Dionisio</a></li>
                            </ul>
                      </li>
                        <li class="dropdown-submenu pull-left">
                            <a tabindex="-1" href="#">La genitorialità in crisi</a>
                            <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Namaste</a></li>
                                  <li><a tabindex="-1" href="#">Prisma</a></li>
                                  <li><a tabindex="-1" href="#">Gemme</a></li>
                                  <li><a tabindex="-1" href="#">Impronte</a></li>
                            </ul>
                      </li> -->

                    </ul>
                </li>
                <li><a href="#">contatti</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="huge">
    HumanaMENTE
</div>
