<header>
    <div class='logo'>HumanaMENTE</div>
    <nav class='pull-right'>
        <ul>
            <li><a href="#">chi siamo</a></li>
            <li><a href="#">aree di intervento</a></li>
            <li><a href="#">mission</a></li>
            <li><a href="#">contatti</a></li>
        </ul>
    </nav>
</header>

<div id="projects" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item namaste">
            <h2>Namasté</h2>

            <p>Spazio aperto di condivisione, confronto e supporto per le neo-mamme.</p>
            <!--<img src="<%= image_path('carousel/image2.jpg') -%>">-->
        </div>
        <div class="item impronte">
            <h2>Impronte</h2>

            <p>Il bambino dai 18 ai 36 mesi. Incontri di gruppo per genitori.</p>
            <!--<img src="<%= image_path('carousel/image3.jpg') -%>">-->
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#projects" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#projects" data-slide="next">&rsaquo;</a>
</div>

