<header>
    <img class='logo' src="<%= image_path('tree_logo.png') -%>" alt="HumanaMENTE">

    <div class='logo'>
        HumanaMENTE
    </div>
    <nav class='pull-right'>
        <ul>
            <li><a href="#">chi siamo</a></li>
            <li><a href="#mission">mission</a></li>
            <li><a href="#projects">aree di intervento</a></li>
            <li><a href="#footer">contatti</a></li>
        </ul>
    </nav>
</header>
<section id='emotional' title='home'></section>
<section id='action'>
    <h1>ascolto, pensiero, parola per la famiglia.</h1>
    <p>servizi di psicologia clinica rivolti al benessere della famiglia</p>
    <a class='btn btn-large btn-warning register'>Iscriviti!</a>
</section>
<section id='mission'>
    <div class='main-quotation'>
        &#147;Crediamo fortemente in una <em>cultura dell'ascolto di Sé e dell'Altro</em> e vogliamo promuovere una cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al
        riconoscimento e all'accoglimento delle emozioni proprie e altrui.&#148;
    </div>

    <p>
        HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al
        fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i
        momenti di difficoltà.
    </p>

</section>
<section id='projects'>
    <h1>aree di intervento</h1>

        <div id="borning">
            <a href="#">La genitorialità nascente</a>
        </div>
        <div id="crisis">
            <a href="#">La genitorialità  in crisi</a>
        </div>

</section>
<section id='footer'>
    <div id='container'>
        <h1>contatti</h1>
        <p>
            Ci trovate in <em><a href="http://goo.gl/maps/MUkXU" target='_blank'>Vicolo degli Orti 2 - 21013 Gallarate VA</a></em>
            e potete contattarci via email a <em><a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a></em>
            e controllare la nostra <em><a href="https://www.facebook.com/pages/Humanamente/599907073372080">pagina facebook</a></em>
            per aggiornamenti sui prossimi incontri.
        </p>
    </div>

</section>