<section id="welcome" data-speed="5" data-type="background" >
    <article class="widebox title" data-type="sprite" >
        <h1>HumanaMENTE</h1>

        <p>servizi di psicologia clinica rivolti al benessere della persona</p>
    </article>
</section>

<section id="mission" class="widebox mission" data-speed="-15" data-type="background">
    <h1>Mission</h1>

    <p>La Mission del gruppo è creare una <em>cultura dell'ascolto di Sé e dell'Altro</em> e promuovere una cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al riconoscimento e
        all'accoglimento delle emozioni proprie e altrui.</p>

    <p>HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al
    fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i
    momenti di difficoltà</p>
</section>
<section id="chisiamo" data-speed="5" data-offsetY="-200px" data-type="background">
</section>
<article class="widebox" data-type="sprite" data-offsetY="100" data-speed="5">
    <h1>Chi Siamo</h1>

    <p>
        Il gruppo è costituito da un'équipe multidisciplinare che integra le diverse prospettive ed esperienze
        professionali di natura psicologica, psicoterapeutica, educativa e legale al fine di garantire una modalità
        di gestione e presa in carico della famiglia il più possibile globale e funzionale.</p>
</article>
<section id="aree-intervento" data-offsetY="400px" data-speed="5" data-type="background">
</section>
<article class="widebox" data-type="sprite" data-offsetY="100" data-speed="-2">
    <h1>Ambiti di intervento</h1>

    <p>
        L'équipe di HumanaMENTE offre percorsi di supporto psicologico, psicoterapeutico e psicoeducativo sia
        individualizzati che di gruppo che mirano ad orientare e a sostenere il bambino, il genitore o la coppia in un
        particolare momento della vita.
    </p>
</article>
<section id="progetti-one" data-offsetY="400px" data-speed="5" data-type="background">
</section>
<article class="widebox" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Progetti - La genitorialità  nascente</h1>
    <dl>
        <dt>Namasté</dt>
        <dd>spazio aperto di condivisione, confronto e supporto per le neo-mamme.</dd>
        <dt>Gemme</dt>
        <dd>il bambino dal primo anno di vita ai 18 mesi. Incontri di gruppo per genitori.</dd>
        <dt>Impronte</dt>
        <dd>il bambino dai 18 ai 36 mesi. Incontri di gruppo per genitori.</dd>
        <dt>Prisma</dt>
        <dd>il ruolo dei nonni nel supporto a figli neo-genitori.</dd>
    </dl>
</article>
<section id="progetti-two" data-offsetY="600px" data-speed="5" data-type="background">
</section>
<article class="widebox" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Progetti - La genitorialità  in crisi</h1>
    <dl>
        <dt>Aliante</dt>
        <dd>percorso informativo e formativo per genitori che desiderano affrontare la separazione nel rispetto
            reciproco e dei propri figli.</dd>
        <dt>La scatola delle parole</dt>
        <dd>gruppi di parola per bambini  e ragazzi i cui genitori sono separati o divorziati.</dd>
        <dt>L'orecchio di Dioniso</dt>
        <dd>gruppi di parola per genitori separati o divorziati.</dd>
        <dt>Il Ponte</dt>
        <dd>il ruolo dei nonni di fronte alla separazione/divorzio dei propri figli.</dd>
    </dl>
</article>
<section id="contatti" data-offsetY="600px" data-speed="5" data-type="background">
</section>
<article class="widebox" data-type="sprite" data-offsetY="200" data-speed="-2">
    <h1>Contatti</h1>
    <p>
        La sede del gruppo HumanaMENTE ha indirizzo:
        Vicolo degli Orti 2 - 21013 Gallarate VA
    </p>
    <p>
        Per contattare il gruppo potete scrivere a <a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a>
    </p>
</article>
