<header>
    <img class='logo' src="<%= image_path('tree_logo.png') -%>" alt="HumanaMENTE">

    <div class='logo'>
        HumanaMENTE
    </div>
    <nav class='pull-right'>
        <ul>
            <li><a href="#">chi siamo</a></li>
            <li><a href="#">aree di intervento</a></li>
            <li><a href="#">mission</a></li>
            <li><a href="#">contatti</a></li>
        </ul>
    </nav>
</header>
<section id='emotional' title='home'></section>
<section id='action'>
    <h1>ascolto, pensiero, parola per la famiglia.</h1>
    <p>servizi di psicologia clinica rivolti al benessere della famiglia</p>
    <a class='btn btn-large btn-warning register'>Iscriviti!</a>
</section>
<section id='mission'>
    <div class='main-quotation'>
        &#147;Crediamo fortemente in una <em>cultura dell'ascolto di Sé e dell'Altro</em> e vogliamo promuovere una cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al
        riconoscimento e all'accoglimento delle emozioni proprie e altrui.&#148;
    </div>

    <p>
        HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al
        fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i
        momenti di difficoltà.
    </p>

</section>
<section id='law-and-newborn'>
    Progetti
    <div>
        La genitorialità nascente
    </div>
    <div>
        La genitorialità  in crisi
    </div>
</section>
<section id='footer'>
    <h1>Contatti</h1>
    <p>
        Ci trovate in <em><a href="http://goo.gl/maps/MUkXU" target='_blank'>Vicolo degli Orti 2 - 21013 Gallarate VA</a></em>
    <!--<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=vicolo+degli+orti+2,+gallarate&amp;sll=45.66052,8.792843&amp;sspn=0.060708,0.136299&amp;ie=UTF8&amp;hq=&amp;hnear=Vicolo+degli+Orti,+2,+Gallarate,+Varese,+Lombardia,+Italia&amp;ll=45.660447,8.790116&amp;spn=0.001897,0.004259&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small>&lt;!&ndash;a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=vicolo+degli+orti+2,+gallarate&amp;sll=45.66052,8.792843&amp;sspn=0.060708,0.136299&amp;ie=UTF8&amp;hq=&amp;hnear=Vicolo+degli+Orti,+2,+Gallarate,+Varese,+Lombardia,+Italia&amp;ll=45.660447,8.790116&amp;spn=0.001897,0.004259&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a&ndash;&gt;</small>-->
        e potete contattarci via email a <em><a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a></em>
        e controllare la nostra <em><a href="https://www.facebook.com/pages/Humanamente/599907073372080">pagina facebook</a></em>
        per aggiornamenti sui prossimi incontri.
    </p>

</section>