<!--<div class="container-fluid">-->
<!--<div class="row-fluid">-->
<!--<div class="span12 pull-right">-->
<!--<ul class="nav nav-pills pull-right">-->
<!--<li class="active">-->
<!--<a href="#">chi siamo</a>-->
<!--</li>-->
<!--<li><a href="#">mission</a></li>-->
<!--<li><a href="#">ambiti di intervento</a></li>-->
<!--<li class="dropdown">-->
<!--<a class="dropdown-toggle"-->
<!--data-toggle="dropdown"-->
<!--href="#">progetti-->
<!--<b class="caret"></b></a>-->
<!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
<!--<li class='fixed'>La genitorialità nascente</li>-->
<!--<li><a tabindex="-1" href="#">Aliante</a></li>-->
<!--<li><a tabindex="-1" href="#">La scatola delle parole</a></li>-->
<!--<li><a tabindex="-1" href="#">L'orecchio di Dionisio</a></li>-->
<!--<li class="divider"></li>-->
<!--<li class='fixed'>La genitorialità in crisi</li>-->
<!--<li><a tabindex="-1" href="#">Namaste</a></li>-->
<!--<li><a tabindex="-1" href="#">Prisma</a></li>-->
<!--<li><a tabindex="-1" href="#">Gemme</a></li>-->
<!--<li><a tabindex="-1" href="#">Impronte</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li><a href="#">contatti</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<section id="welcome" class="story" data-speed="5" data-type="background">
    <article class="box title" data-type="sprite" data-offsetY="100" data-offsetX="100" data-speed="-100">
        <h1>HumanaMENTE</h1>

        <p>servizi di psicologia clinica rivolti al benessere della persona</p>
    </article>
</section>
<section id="mission" class="box mission" data-speed="-15" data-type="background">
    <h1>Mission</h1>

    <p>La Mission del gruppo è creare una <em>cultura dell'ascolto di Sé e dell'Altro</em> e promuovere una cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al riconoscimento e
        all'accoglimento delle emozioni proprie e altrui.</p>

    <!--<p>HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al-->
        <!--fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i-->
        <!--momenti di difficoltà</p>-->
</section>