<header>
    <img class='logo' src="<%= image_path('tree_logo.png') -%>" alt="HumanaMENTE">

    <div class='logo'>
        HumanaMENTE
    </div>
    <nav class='pull-right'>
        <ul>
            <li><a href="#">chi siamo</a></li>
            <li><a href="#mission">mission</a></li>
            <li><a href="#projects">aree di intervento</a></li>
            <li><a href="#footer">contatti</a></li>
        </ul>
    </nav>
</header>

<section id='emotional' title='home'></section>

<section id='action'>
    <h2>ascolto, pensiero, parola per la famiglia.</h2>

    <div>servizi di psicologia clinica rivolti al benessere della famiglia</div>
    <a class='btn btn-large btn-warning register'>Iscriviti!</a>
</section>

<section id='mission'>
    <div class='special-heading'>
        Mission!
    </div>
    <div class='main-quotation'>
        &#147;Crediamo fortemente in una <em>cultura dell'ascolto di Sé e dell'Altro</em> e vogliamo promuovere una
        cultura del
        <em>benessere a livello individuale</em>, <em>familiare</em> e <em>sociale</em>, attraverso percorsi volti al
        riconoscimento e all'accoglimento delle emozioni proprie e altrui.&#148;
    </div>
    <p>
        HumanaMENTE collabora e interagisce con Enti pubblici e privati, attraverso lo scambio e la condivisione, al
        fine di sostenere le famiglie nella costruzione di linguaggi comuni che aiutino a confontarsi e superare i
        momenti di difficoltà.
    </p>
</section>

<section id='projects'>
    <h2>aree di intervento</h2>

    <div id="borning">
        <a href="#">La genitorialità nascente</a>
    </div>
    <div id="crisis">
        <a href="#">La genitorialità in crisi</a>
    </div>

</section>

<section id='team' class='container_12 text-center'>
    <div class='special-heading'>
        Il Team!
    </div>

    <div class='team-description'>
        Siamo un gruppo di lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>

    <div class='row'>
        <div class='span4 member'>
            <h3><a href="http://www.cristinaiorio.com" target="_blank">Cristina Iorio</a></h3>
            <h5>Psicologa, Psicoterapeuta</h5>
            <article>Esercita nell’area della Psicologia Clinica e Giuridica. Esperta in Formazione in ambito psico-pedagogico.
                Consulente Tecnico di Parte in casi di separazione, divorzio e affido dei minori.</article>
        </div>
        <div class='span4 member'>
            <h3><a href="http://www.cristinaiorio.com" target="_blank">Elisa Bordin</a></h3>
            <h5>Psicologa, Psicoterapeuta</h5>
            <article>Esercita nell’area della Psicologia Clinica e dell’Età Evolutiva. Esperta in Psicologia Perinatale per
            l’accompagnamento di mamme e papà verso una “nascita genitoriale”.</article>
        </div>
        <div class='span4 member'>
            <h3><a  href="http://www.cristinaiorio.com" target="_blank">Alessia Pinolini</a></h3>
            <h5>Psicologa clinica</h5>
            <article>Esperta nel supporto alla genitorialità e nella progettazione di interventi psicoeducativi. Consulente Tecnico
            di Parte in casi di separazione, divorzio e affido dei minori.</article>
        </div>
    </div>
    <div class='row'>
        <div class='span4 member'>
            <h3><a  href="http://www.cristinaiorio.com" target="_blank">Savina Bandera</a></h3>
            <h5>Avvocato</h5>
            <article>Avvocato del Foro di Busto Arsizio, si occupa di Diritto di Famiglia, Minorile e delle Persone; Curatore
            Speciale del minore in procedimenti di adottabilità.</article>
        </div>
        <div class='span4 member'>
            <h3><a href="http://www.cristinaiorio.com" target="_blank">Manuela Caprioli</a></h3>
            <h5>Educatrice</h5>
            <article>Esercita nell’ambito della prevenzione del disagio affiancando i minori nei loro percorsi di crescita e
            supportando gli adulti nel ruolo genitoriale.</article>
        </div>
    </div>
</section>
<section id='footer'>
    <div id='container'>
        <h2>contatti</h2>
        <p>
            Ci trovate in
            <em><a href="http://goo.gl/maps/MUkXU" target='_blank'>Vicolo degli Orti 2 - 21013 Gallarate VA</a></em>
            e potete contattarci via email a <em><a href="mailto:gruppo@humanamente.it">gruppo@humanamente.it</a></em>
            e controllare la nostra
            <em><a href="https://www.facebook.com/pages/Humanamente/599907073372080">pagina facebook</a></em>
            per aggiornamenti sui prossimi incontri.
        </p>
    </div>

</section>