@import "twitter/bootstrap/mixins.scss";

@mixin text-content($imageName) {
  background: image-url($imageName) 50% 0 no-repeat fixed;
  height: 500px;
}
@mixin background-color($color) {
  background-color: $color;
  text-shadow: 0 -1px 1px darken($color, 30);

}
@mixin decorate-box() {
  border-top: 1px solid rgba(255,255,255,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.4);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

$humanaColor: #0088CC;
$missionColor: #ff7733;
$chiSiamo: #0088CC;
$areeIntervento: #ff7733;
$progettiOne: #0088CC;
$progettiTwo: #ff7733;
$contatti: #0088CC;

body {
  font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
  font-size: 160%;
  line-height: 1.3;
  color: white;
}
em {
  font-style: normal;
}
h1 {
  font-size: 200%;
}
dl {
  dt {
    font-style: normal;

    display: inline-block;
    &:after {
      content: ': ';
    }
  }
}


#welcome {
  @include text-content('tree.png');
  height: 1300px !important;
}
#chi-siamo {
  @include text-content('sunset_1920x1080.jpg');
}
#aree-intervento {
  @include text-content('greenlake_1440x900.jpg');
}
#progetti-one {
  @include text-content('bluedawn_1440x900.jpg');
}
#progetti-two {
  @include text-content('theoldfishinghut_1440x900.jpg');
}
#contatti {
  @include text-content('deepsilence_1920x1080.jpg');
}

.welcome {
  width: 70%;
  max-width: 600px;
  min-width: 395px;
  text-align: right;
  padding: 30px;
  margin: 0 10px;
  position: relative;
  top: 150px;
  @include opacity(96);
  @include border-radius(3px);
  @include background-color($humanaColor);
}
.mission {
  @include background-color($missionColor);
}
.chi-siamo {
  @include background-color($chiSiamo);
}
.aree-intervento {
  @include background-color($areeIntervento);
}
.progetti-one {
  @include background-color($progettiOne);
}
.progetti-two {
  @include background-color($progettiTwo);
}
.contatti {
  @include background-color($contatti);
}

.box {
  padding: 30px;
  @include decorate-box();
}

@font-face {
  font-family: 'BreeSerifRegular';
  src: url('/fonts/BreeSerif-Regular-webfont.eot');
  src: url('/fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/BreeSerif-Regular-webfont.woff') format('woff'), url('/fonts/BreeSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}