@import "twitter/bootstrap/mixins.scss";
@import "typeplate.css.scss";

@mixin background-cover {
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

@mixin box-shadow($box-shadow-definition) {
  -moz-box-shadow: $box-shadow-definition;
  -webkit-box-shadow: $box-shadow-definition;
  -o-box-shadow: $box-shadow-definition;
  -ms-box-shadow: $box-shadow-definition;
  box-shadow: $box-shadow-definition;
}

@mixin transform($transformation) {
  -ms-transform: $transformation;
  -moz-transform: $transformation;
  -webkit-transform: $transformation;
  -o-transform: $transformation;
  transform: $transformation;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin project-box {
  width: 300px;
  height: 230px;
  margin-bottom: 20px;
}

@mixin rounded-box($values) {
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  -o-border-radius: $values;
  -ms-border-radius: $values;
  border-radius: $values;
}

@mixin opacity($opacity) {
  -moz-opacity: $opacity;
  -webkit-opacity: $opacity;
  -o-opacity: $opacity;
  -ms-opacity: $opacity;
  opacity: $opacity;
}

$humanaColor: #0088CC;
$humanaColorComplementary: #f89406;

body {
  @include base-type(normal, 1.375em, 140, "Georgia, Palatino, serif");
  color: #555;
}

a, a:visited {
  color: $humanaColor;
  @include transition(color 0.2s);
}

a:hover {
  color: $humanaColorComplementary;
  text-decoration: none;
}

header {
  font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
  letter-spacing: -0.02em;
  position: absolute;
  top: 0;
  background-color: white;
  display: inline-block;
  min-width: 925px;
  font-size: 80%;
  width: 100%;
  color: $humanaColor;
  @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.5));

  img.logo {
    top: 0;
    position: absolute;
    left: 16px;
    padding: 0 4px;
    background-color: white;
    @include box-shadow(0 2px 10px 0 rgba(0, 0, 0, 0.5));
    @include transition(rotation 0.2s ease-in-out);

    &:hover {
      @include transform(rotate(-5deg));
    }
  }

  div.logo {
    margin-left: 20px;
    margin-right: 10px;
    padding-top: 18px;
    height: 48px;
    padding-left: 110px;
    font-size: 200%;
    float: left;
  }

  nav {
    margin-right: 10px;
    li {
      float: left;
      margin-left: 10px;
    }
    padding-right: 10px;
    margin-top: 28px;
  }
}

.special-heading {
  @include transform(rotate(7deg));
  font-family: 'Satisfy', cursive;
  color: #006aa2;
  font-size: 140%;
  text-shadow: 0 -1px 0 #004772;
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 100;
  font-size: 202%;
  right: -60%;
  bottom: -50px;
}

#emotional {
  height: 500px;
  background-image: image-url('carousel/image3.jpg');
  background-repeat: no-repeat;
  background-position: center 50px;
  @include background-cover();
  p {
    color: #333;
  }
}

#action {
  text-align: center;
  background-color: white;
  height: 150px;
  width: 100%;
  margin: 50px 0;
  h2 {
    font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
    letter-spacing: -0.02em;
    color: black;
  }
  div {
    color: #999;
    font-size: 90%;
  }

  .register {
    font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
  }
}

#team {
  background-image: image-url('carousel/image2.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  @include background-cover();
  clear: both;
  padding-bottom: 70px;
  padding-left: 20%;
  .team-description {
    margin: 20px 0;
  }

  .member {
    color: white;
    width: 270px;
    margin-bottom: 20px;
    h3 {
      font-family: 'Bree Serif', 'Rockwell', serif;
      a, a:visited {
        color: white;
        @include transition(color 0.2s);
      }

      a:hover {
        color: $humanaColorComplementary;
        text-decoration: none;
      }
    }

    padding: 10px;
    background: rgba(0,0,0,0.7);
    color: $body-copy-color;
    @include rounded-box(3px);
    @include box-shadow(0 0 10px 0 #002b46);
    h5 {
      font-family: 'Bree Serif', 'Rockwell', serif;
      @include smallcaps(#aaa, normal);
      color: $humanaColor;

    }
    article {
      color: #ddd;
      font-size: 68%;
      line-height: normal;
    }
  }
}

#mission {
  clear: both;
  background-color: #0088cc;
  color: white;
  padding-bottom: 70px;
  padding-left: 20%;
  p {
    font-size: 70%;
    margin-top: 20px;
    line-height: 1.2em;
    width: 600px;
  }
  .main-quotation {
    padding-top: 60px;
    line-height: 1.2em;
    width: 600px;
    font-size: 130%;
    text-shadow: 0 1px 0 #003651;
    font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
    font-style: italic;
  }
}

#projects {
  background-color: white;
  margin: 0 auto;
  width: 620px;
  h2 {
    text-align: center;
    font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
  }
  #borning {
    float: left;
    @include project-box;
  }
  #crisis {
    float: right;
    @include project-box;
  }
}

#footer {
  float: left;
  text-align: right;
  width: 100%;
  color: white;
  font-size: 80%;
  background-image: image-url('vertical_cloth.png');
  @include box-shadow(inset 0 0 200px 10px #181818);
  #container {
    margin: 100px 220px;
    float: right;
    width: 500px;
    h2 {
      font-family: BreeSerifRegular, 'Bree Serif', 'Rockwell', serif;
      letter-spacing: -0.02em;
      color: white;
    }
  }
}

@font-face {
  font-family: 'BreeSerifRegular';
  src: url('/fonts/BreeSerif-Regular-webfont.eot');
  src: url('/fonts/BreeSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/BreeSerif-Regular-webfont.woff') format('woff'), url('/fonts/BreeSerif-Regular-webfont.ttf') format('truetype'), url('/fonts/BreeSerif-Regular-webfont.svg#BreeSerifRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
