/* ribbon style */

#projects .ribbon-wrapper {
  position: relative;
  border-bottom: 0px solid #ccc;
  border-top: 10px solid #ccc;
  -moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
  -webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
#projects  .ribbon-front {
  background-color: #f89406;	height: 40px;
  width: 110px;
  position: relative;
  left:-10px;
  z-index: 2;
}

#projects  .ribbon-front,
#projects  .ribbon-back-left,
#projects  .ribbon-back-right
{
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
  -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

#projects  .ribbon-edge-topleft,
#projects  .ribbon-edge-topright,
#projects  .ribbon-edge-bottomleft,
#projects  .ribbon-edge-bottomright {
  position: absolute;
  z-index: 1;
  border-style:solid;
  height:0px;
  width:0px;
}

#projects  .ribbon-edge-topleft,
#projects  .ribbon-edge-topright {
}

#projects  .ribbon-edge-bottomleft,
#projects  .ribbon-edge-bottomright {
  top: 40px;
}

#projects  .ribbon-edge-topleft,
#projects  .ribbon-edge-bottomleft {
  left: -10px;
  border-color: transparent #C37B00 transparent transparent;
}

#projects  .ribbon-edge-topleft {
  top: -10px;
  border-width: 10px 10px 0 0;
}
#projects  .ribbon-edge-bottomleft {
  border-width: 0 10px 0px 0;
}

#projects  .ribbon-edge-topright,
#projects  .ribbon-edge-bottomright {
  left: 100px;
  border-color: transparent transparent transparent #C37B00;
}

#projects  .ribbon-edge-topright {
  top: 0px;
  border-width: 0px 0 0 0px;
}
#projects  .ribbon-edge-bottomright {
  border-width: 0 0 0px 0px;
}

#projects  .ribbon-back-left {
  position: absolute;
  top: -10px;
  left: -30px;
  width: 30px;
  height: 40px;
  background-color: #f89406;	z-index: 0;
}

#parenthood  .ribbon-back-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  height: 40px;
  z-index: 0;
}
